@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --primary: #2196f3;
  --primary-light: "#64b5f6";
  --primary-dark: "#1565c0";
  --secondary: #B60766;
  --third: #C45211;
  --dark: #181F29;
  --dark-light: #1B4667;
  --text-light: #eee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
textarea,
button {
  border: none;
  outline: none;
}