@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --primary: #00C4D8;
  --secondary: #B60766;
  --third: #C45211;
  --dark: #181F29;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  color: #eee;
  background-color: var(--dark);
}

a {
  color: inherit;
  text-decoration: none;
}

input,
textarea,
button {
  border: none;
  outline: none;
}